@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.27) white;
}

body {
    margin: 0;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.742);
    backdrop-filter: blur(3px);
    padding: .7rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 2);
}

.logo {
    font-size: 2rem;
    font-family: "Nanum Gothic Coding", monospace;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
}

.navbar a {
    font-size: 18px;
    font-family: "Onest", sans-serif;
    color: #fff;
    margin-left: 1rem;
    transition: 2s;
}

.navbar a:hover {
    color: #000
}

.navbar a:hover,
.navbar a.active {
    color: #FDDE55;
}

.navbar.active {
    display: block;
}

#menu-icon {
    font-size: 3.6rem;
    color: #fff;
    display: none;
    cursor: pointer;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/bg-amarelo.png");
    background-repeat: no-repeat;
    background-position: auto;

}

.mao {
    font-size: 0.9em;
    display: inline-block;
    animation: girar 2.5s infinite;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: #FDDE55;
    background: #000;
}

.home-content h1:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
    color: #fff
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.detalhes {
    color: #03AED2;
}

.amarelo {
    color: #FDDE55;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: aliceblue;
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    transform: scale(1.02);
}

.sobre {
    display: inline-block;
    margin-top: auto;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.sobremim-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: stretch;
}

.sobre-box {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre-box img {
    border-radius: 20px;
    width: 500px;

}

.sobre-box img:hover {
    transform: scale(1.02);
    cursor: pointer;

}

.sobre-mim {
    font-size: 50px;
    text-align: left;
    margin-left: 2rem;
    border-bottom: 1px solid #000;
    font-family: "DM Sans", sans-serif;

}

.sobre-box p {
    font-size: 20px;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    padding: 2rem;
}


.habilidades-container {
    display: inline-flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    cursor: pointer;
}

.habilidades-container .habilidades-box:hover {
    transform: scale(1.02);
}

.habilidades-container img {
    width: 64px;
}

.habilidades-box h3 {
    font-size: 14px;
    color: #000;
    font-family: "Onest", sans-serif;

}

.portfolio {
    background: #fff;
}

.portfolio h2 {
    margin-bottom: 4rem;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .8rem 9%;
    background: #000;
}


.footer-text p {
    font-size: 14px;
    color: #fff;

}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
}

.footer-iconTop:hover {
    transform: scale(1.02);
}

.footer-iconTop a i {
    font-size: 2rem;
    color: #000
}


/*KEYFRAMES*/

/* MÃO GIRANDO */

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/*RESPONSIVO*/

@media screen and (max-width: 1900px) {
    html {
        font-size: 55%;
    }

    .home-content {
        margin: auto 0;
        display: flex;
        flex-direction: column;
    }

    .home-content h1 {
        text-align: center;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .social-media {
        display: flex;
        justify-items: center;
        justify-content: center;
        gap: 4rem;

    }


}

@media screen and (max-width: 994px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home-content {
        margin: auto 0;
        display: flex;
        flex-direction: column;
    }

    .home-content h1 {
        text-align: center;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .social-media {
        display: flex;
        justify-items: center;
        justify-content: center;
        gap: 4rem;

    }

    .sobremim-container {
        display: flex;
        flex-direction: column;
    }

    .sobre-box img {
        width: 50%;
    }

    .sobre-box p {
        font-size: 16px;
    }

    .sobre-box h4 {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
        background: #fff;
    }

    .navbar .active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        background: #fff;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }


}

@media screen and (max-width: 500px) {

    .home-content {
        margin: auto 0;
        display: flex;
        flex-direction: column;
    }

    .home-content h1 {
        text-align: center;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .social-media {
        display: flex;
        justify-items: center;
        justify-content: center;
        gap: 4rem;

    }

    .sobremim-container {
        display: flex;
        flex-direction: column;
    }

    .sobre-box img {
        width: 80%;
    }

    .sobre-box p {
        font-size: 16px;
    }

    .sobre-box h4 {
        font-size: 30px;
        text-align: center;
    }
}